[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
black = "==19.10b0"
pipenv-setup = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest = "*"
docker = "*"
gitpython = "*"
pytest-docker = "*"
secretstorage = {markers = "sys_platform == 'linux'"}
keyring = "==19.1.0"
flake8 = "*"
isort = "*"
pylint = "*"
mypy = "*"
pygate-grpc = {editable = true,path = "."}

[requires]
python_version = "3.7"

[scripts]
build = "python setup.py sdist bdist_wheel"
publish = "twine upload dist/*"
format = "bash -c \"python -m isort setup.py pygate_grpc tests && python -m black $(git ls-files '*.py')\""
lint = "bash -c \"python -m flake8\""
integration-test = "python -m pytest tests/integration/"

[packages]
grpc-powergate-client = "==2.1.0"
mypy-extensions = "*"
deprecated = "*"
